* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(./img/background.jpg);
	background-repeat: repeat;
}
button {
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

header {
	display: flex;
	width: 95%;
	height: 12vh;
	margin: auto;
	align-items: center;
	padding-top: 10px;
}

img{
	border-radius: 50%;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 400;
	margin: 5px;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}
.cart {
	flex: 1;
	justify-content: flex-end;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
	

}
.introduction {
	flex: 1;
}
.intro-text h1 {
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	
}
.intro-text p {
	margin-top: 8px;
	font-size: 18px;
	color: #fff;
}
.cta {
	padding: 50px 0px 0px 0px;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 60vh;
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}


	

	
	
	

